body {
    font-family: Arial, sans-serif;
    display: inline;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* Opcional: para que el contenido esté centrado verticalmente en la pantalla */
    margin: 0;
}

form {
    max-width:  400px;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    border-radius: 5px;
    /* Ajusta el valor para cambiar el radio de las esquinas */
    box-shadow: 0 2px 4px rgba(7, 7, 7, 0.705);
}

label {
    display: block;
    margin-top: 10px;
}

h1 {
    display: inline-block;
    padding: 10px;
    text-align: center;
    }

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    background-color: #007BFF;
    color: white;
    border: none
}

input[type="submit"]:hover {
    background-color: #0056b3;
    cursor: pointer;
}