/*-------------------------------GLOBALES------------------------------------*/
img{
    width: 250px; /* La imagen no será más grande que el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    margin: 20px;
}
fieldset{
    background-color: #63636465;
    border: 1px solid #4b4b4b; 
    border-radius: 10px;
    
}
 /* Estilo para el formulario */
 form {
    display: inline-block;
    background-color: #4e4e7733;
    padding: 10px;
    text-align: center;
    border: 1px solid #4b4b4b; 
    border-radius: 10px;
   
}
textarea{
    font-size: large;
    border: 1px solid #4b4b4b; 
    border-radius: 10px;
}
input{
    font-size: medium;
    border: 1px solid #4b4b4b; 
    border-radius: 10px;
}
input[type="text"] {
    font-size: large; /* Cambia el tamaño de la fuente según tus preferencias */
    

    /*---BOTONES---*/
}input[type="submit"] {
    font-size: 40px; 
    margin: 20px;
    padding: 10px;
}
legend{
    font-size: larger;
}
/*------------------------------------LISTADO-------------------------------*/
#imagen {
    border: 1px solid #4b4b4b; 
    border-radius: 10px;
  width: 265px; /* Tamaño máximo deseado */
    overflow: hidden; /* Oculta cualquier parte de la imagen que exceda el tamaño */
    margin: auto;
}
#nombre{
    max-width: 300px;
}
/* Contenedor principal */
.container {
    display: flex; /* Utilizamos flexbox para la disposición horizontal */
    align-items: center; /* Centra verticalmente los elementos */
    border: 1px solid #4b4b4b; 
    background-color: #4b4b4b7c;
    border-radius: 5px; 
    width: 800px; /* La imagen no será más grande que el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    
    margin: auto;
    margin-bottom:40px;
    padding: 50px;
    flex-wrap: wrap;
    align-self: flex-start;
    font-size: 30px;
    border: 1px solid #4b4b4b; 
    border-radius: 10px;
    
}

 
.editar{
    font-size: 40px; 
    margin: 20px;

    
}

/*-----------------------------------------------EDICION---------------------------------------------*/

#edicion{
    display: inline-block;
    background-color: #4b4b4b7c;
    padding: 20px;
    height: auto;
    margin: auto;
    border: 1px solid #4b4b4b; 
    border-radius: 10px;
}
#contenedorEdicion{
    
    height: auto;
   
    margin: auto;
    padding: 20px;
     
}
#form_edit{
    font-size: 25px;
}
.nuevaImagen{
    font-size: 25px; 
}
.centrado {
    display: flex;
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
}
